<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update password</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container {
            max-width: 1440px;
            padding-inline: 1rem;
            margin-inline: auto;
        }
        .heading h1{
            text-align: center;
            padding: 2rem 0;
        }
        .form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .cs-flex {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin-bottom: 1rem;
            max-width: 28rem;
            margin-inline: auto;
        }
        form#registerForm {
            width: 100%;
        }
        input {
            padding: 0.4rem;
        }
        .submit {
            text-align: center;
        }
    </style>
</head>
<body>
    <section>
        <div class="container">
            <div class="heading">
                <h1>Update password</h1>
            </div>
            <div class="form">
                <form action="/updatePassword" method="POST" id="registerForm">
                    <div class="cs-flex">
                        <label for="email">Password</label>
                        <input type="password" name="password" id="email" placeholder="Enter your email or username">
                    </div>
                    <div class="cs-flex">
                        <label for="password">Confirm password</label>
                        <input type="password" name="confirmPassword" id="password" placeholder="Enter your password">
                    </div>
                    <div class="submit">
                        <input type="submit" value="Update password">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>